body {
    background-image: url(./images/background2.png);
    background-size: cover; /* or contain, depending on your preference */
    background-position: center; /* centers the image */
    background-repeat: no-repeat; /* prevents the image from repeating */
    height: 100vh; /* makes sure the body takes the full height */
    margin: 0; /* removes default margin */
    width: 100vw;
    /* align-items: center; */
    overflow: hidden;
}
@font-face {
    font-family: "ninja";
    src: url("./fonts/ninja-font.ttf");
}
#menu{
    position: absolute;
    display: flex;
    /* align-self: center; */
    width: 100%;
    height: 100%;
    justify-content: center;
    opacity: 1;
    top: 0;
}
#heading{
    position: absolute;
    top: 25%;
    margin-left: 20px;
    font-size: 50px;
    font-family: "ninja";
    font-weight: 200;
    color: black;
}
#samurai{
    position: fixed;
    bottom: 0;
    left: 25%;
    /* transform: translateX(-50%); */
    /* height: 300px; */
    /* scale: 2; */
    height:430px;
}
#samurai img{
    height:430px;
    
}

#enemy {
    position: fixed;
    bottom: 20%;
    right:  35%;
    /* transform: translateX(-50%); */
    /* height: 300px; */
    /* scale: 2; */
    height:200px;
}
#enemy img{
    height:180px;
    
}



/* ////// */
/* weapons */
#weapon-holder{
    position: absolute;
    height: 400px;
    width: 100px;
    /* background-color: blue; */
    display: flex;
    flex-direction: column;
    /* gap: 20px; */
    justify-content: space-around;
    left:60%;
    top:40%;
    opacity: 1;
}
.ring{
    position: relative;
    width: 80px;
    height: 80px;
    top: 0; 
    left: 0;     
    opacity:0.8;
    border-radius: 50%;
    outline: white;
    outline-width: 5px;
    outline-style: solid;
    box-shadow: 0 0 8px white, inset 0 0 8px white;
    -webkit-animation: pulse 2s linear 1s infinite;
    transition: transform 0.7s cubic-bezier(0.25, 0, 0.75, 1);
    transition:0.5s cubic-bezier(0.44,-0.33, 0.71, 0.99)all;
    cursor: pointer;
}
#katana:hover,
#spear:hover,
#shield:hover {
    .ring{
        transform: scale(1.3);
        -webkit-animation: none;
        opacity: 1;
    }
    #kimg{
        transform: rotate(135deg);
    }
    #simg{
        transform: rotate(325deg);
    }
    #ssimg{
        transform: rotate(180deg);
    }
}
#katana:hover .head {
    opacity: 0.8; 
    visibility: visible; 
}
#spear:hover .head {
    opacity: 0.8; 
    visibility: visible; 
}
#shield:hover .head {
    opacity: 0.8; 
    visibility: visible; 
}
#katana{
    position: relative;
    left: 10px;
}
#spear{
    position: relative;
    left: 30px;
}
#shield{
    position: relative;
    left: 10px;
}
#katana img{
    position: absolute;
    top: 0; 
    left: 0;  
    height: 80px;
    width: 80px;
    transition: 0.5s;
}
#spear img{
    position: absolute;
    top: -10px; 
    left: -10px;  
    height: 100px;
    width: 100px;
    transition: 1s;
}
#shield img{
    position: absolute;
    top: 0; 
    left: 0;  
    height: 80px;
    width: 80px;
    transition: 0.5s;
}
/* ////Animtation */
@-webkit-keyframes pulse {
    0% { 
        box-shadow:0 0 8px white, inset 0 0 8px white; 
        opacity: 0.8;
    }
    50% {
        box-shadow:0 0 24px white, inset 0 0 24px white; 
        opacity: 1;
    }
    100% {
        box-shadow:0 0 8px white, inset 0 0 8px white; 
        opacity: 0.8;
    }
  }

@-webkit-keyframes rotate {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(135deg);
  }
}
.head{
    position: absolute;
    color: white;
    text-shadow: 0px 0px 30px white,0px 0px 30px white,0px 0px 30px white,0px 0px 10px #553300,0px 0px 10px #553300;
    transform: rotate(270deg);
    opacity: 0; 
    visibility: hidden; 
    transition: 0.5s ease-in-out;
    font-size: 24px;
}
#katana-head{
    right: 95%;
}
#spear-head{
    right: 105%;
    top:10%
}
#shield-head{
    top:10%;
    right: 100%;
}
#choice{
    margin: 0;
    width: 100%;
    height: 100%;
    position: absolute;
    color: black;
    text-align: center;
    align-content: center;
    transform: scale(0);
    opacity: 0;
    z-index: 1000;
    font-family: "ninja";
    top: 0;
}
.slideshow {
    position: relative;
    width: 100vw; /* Match the width of your images */
    height: 100vh; /* Match the height of your images */
    text-align: center;
    align-content: center;
    overflow: hidden;
}

.slideshow img {
    width: 100%;
    height: auto;
    display: none; /* Hide all images by default */
    position: relative;
}
.active {
    display: block !important; /* Show the active image */
}